<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.housing.mapper.ListingMapper">

    <insert id="insertListing" parameterType="com.housing.entity.ListingEntity">
        INSERT INTO Listing (PropertyID, AvailableDate, Description)
        VALUES (#{propertyID}, DATE_ADD(CURRENT_DATE, INTERVAL 1 YEAR), #{description})
    </insert>

</mapper>
